@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Yellowtail&display=swap');

html{
  box-sizing: border-box;
}
body {
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  font-family: Comforter Brush,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div#root{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
p{
  font-family: Yellowtail,sans-serif;
}